li:hover {
    cursor: pointer;
}

.displayBox {
    height: 275px;
    width: auto;
    background-color: rgb(142, 189, 142);
    border-width: auto;
    border-width: 10px;
}

img {
    width: auto;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3 {
    text-align: center;
}

.selected {
    color: darkturquoise;
}

/* Add a 'selected' class here to style selected astronaut names a different color. */