<h3>Crew</h3>
<ul>
  <li *ngFor="let member of crew">
    <span>
      <span *ngIf ="indexOfMemberBeingEdit !== i; else elseBlock"></span>
      <span >{{member.name}}</span>
    <span *ngIf ="member.firstMission">- 1st</span>
    <button (click)="remove(member)">remove</button>
    </span>
    
    <ng-template>
      <input #newName />
      <button (click)="save(in)">Save</button>
    </ng-template>
  </li>
</ul>
<input #name type="text"/>
<label>First mission<input #firstMission type="checkbox"/></label>
<button (click)="add(name.value, firstMission.checked)">Add</button>