.displayBox {
    height: 275px;
    width: auto;
    background-color:lightseagreen;
}

button {
    margin: 2px;
    cursor: pointer;
}

h3 {
    text-align: center;
}

/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */
.active{
    background-color: chartreuse;
}

/* Add the 'nearMaxMass' class style here: */
.nearMaxMass{
    color: darkred;
    font-weight: bold;
}